# Core Libraries
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
google-generativeai
pdfplumber
python-pptx
docx2txt
pandas
faiss-cpu
sentence-transformers

python-dotenv

typing-extensions
